@charset "utf-8";
/* CSS Document */

#Header{
	position: absolute;
	top:0px;
	background-color: black;
	width:1140px;
	height: 100px;
	z-index: 10;
}
#WebsiteName{
	color:white;
	padding-left: 20px;
	padding-top:20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
	font-size: 25px;
}
#Slogan{
	color:white;
	padding-left: 20px;
	font-style: italic;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

/*---------------------------------------MENU--------------------------------------------*/

#Menu{
	position: absolute;
	top:100px;
	z-index: 10;
	margin-top: 10px;
	padding: 0;
	width: 1140px;
}
#Menu ul{
	list-style-type: none;
	background: black;
	text-align: left;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

#Menu ul li{
	width: 170px;
	height: 40px;
	display: inline-table;
	line-height:40px;
	position: relative;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#Menu ul li a{
	text-decoration: none;
	color: #FDFDFD;
	display: block;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#Menu ul li a:hover{
	background:  #FFFFFF;
	color: #000000;
}
#Menu ul li>.submenu{
	text-align: center;
	display: none;
	position:absolute;
	margin: 0;
	padding: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#Menu ul li:hover .submenu{
	display: block;
	z-index: 2;
}


/*---------------------------------------MENU--------------------------------------------*/

/*---------------------------------------IMAGEAREA--------------------------------------------*/
#ImageArea{
	position: absolute;
	top:160px;
	width: 930px;
	margin-left: -15px;
}
#WaitingImage{
	position: absolute;
	top:160px;
	left:940px;
	width:200px;
	height:523px;
	background-color: #C4C4C4;
}
.WaitingPic{
	width:150px;
}
.Btn1{
	width:30px;
	height:30px;
	border: 2px solid black;
	border-radius: 40px;
	text-align: center;
	line-height:22px; 
	background-color: white;
	opacity: 50%;
}
#NextBtn{
	position: absolute;
	top:400px;
	left:880px;
}
.Btn1:hover{
	cursor: pointer;
	opacity: 100%
}
#PrevBtn{
	position: absolute;
	top:400px;
	left:20px;
}
#SelectedPicture{
	position: absolute;
	top:15px;
	left:15px;
	width: 170px;
	height:94px;
	background-color: white;
}
#ImageGallaryPlace{
	background-color: white;
	width:1100px;
	height: 523px;
}
#Pic1{
	position: absolute;
	top:20px;
	left: 25px;
}
#Pic2{
	position: absolute;
	top:120px;
	left: 25px;
}
#Pic3{
	position: absolute;
	top:220px;
	left: 25px;
}
#Pic4{
	position: absolute;
	top:320px;
	left: 25px;
}
#Pic5{
	position: absolute;
	top:420px;
	left: 25px;
}
#barrier{
	position: absolute;
	top:680px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: black;
	width:1140px;
	height: 20px;
}
/*---------------------------------------IMAGEAREA--------------------------------------------*/

/*--------------------------------------SideBar-------------------------------------------*/
#SideBar{
	position: absolute;
	top:190px;
	margin-left: -15px;
	width:300px;
	height:500px;
}
.sidebarbtn{
	margin: 10px;
	margin-left: 0;
	background-color: #C4C4C4;
	height:50px;
	width:250px;
	text-align: center;
	border: 2px solid black;
	line-height: 40px;
	font-size: 15px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
	border-radius: 10px;
}
.sidebarbtn:hover{
	cursor: pointer;
}
#Advertise{
	margin: 10px;
	margin-left: 0;
	background-color: #C4C4C4;
	width:250px;
	height:auto;
	border: 2px solid black;
	border-radius: 10px;
}
#Ad_Pic{
	width:246px;
	border: 2px solid black;
	padding-left: -1px;
}
/*--------------------------------------SideBar-------------------------------------------*/

/*--------------------------------------Content-------------------------------------------*/
#MainContent{
	position: absolute;
	top:200px;
	left:260px;
	background-color: #C4C4C4;
	width: 880px;
	height:645px;
	border-radius: 5px;
}
#AirNewContent{
	position: absolute;
	top:10px;
	left:10px;
	background-color: white;
	width:860px;
	height: 475px;
}
.BaiViet{
	width:860px;
	height:475px;
}
.AnhBaiViet{
	width:860px;
	height: 485px;
	border: 4px solid black;
}
.InfoBaiViet{
	width:860px;
	height: 140px;
	background-color: #000000;
	border: 4px solid black;
}
.BaiVietBtn{
	position: absolute;
	top:453px;
	width:25px;
	height: 25px;
	background-color: white;
	text-align: center;
	border: 2px solid black;
	line-height: 20px;
	border-radius: 20px;
	opacity: 50%;
}
.BaiVietBtn:hover{
	cursor: pointer;	
	opacity: 100%;
}
#BaiVietABtn4
{
	left:820px;
}
#BaiVietABtn3
{
	left:790px;
}
#BaiVietABtn2
{
	left:760px;
}
#BaiVietABtn1
{
	left:730px;
}
#TravelNewContent{
	position: absolute;
	top:10px;
	left:10px;
	background-color: white;
	width:860px;
	height: 475px;
	display: none;
}
.InfoBaiViet{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:white;
	text-align: justify;
	padding:10px;
}
#TieuDe1{
	font-weight: bold;
}
#BaiVietBBtn4
{
	left:820px;
}
#BaiVietBBtn3
{
	left:790px;
}
#BaiVietBBtn2
{
	left:760px;
}
#BaiVietBBtn1
{
	left:730px;
}
#TieuDe2{
	font-weight: bold;
}
#NewPictureContent{
	position: absolute;
	top:10px;
	left:10px;
	background-color: white;
	width:860px;
	height: 628px;
	display: none;
}
.BtnAnh{
	top:600px;
	background-color: black;
	color: white;
	border-radius: 10px;
}
#BaiVietCBtn4
{
	left:820px;
}
#BaiVietCBtn3
{
	left:790px;
}
#BaiVietCBtn2
{
	left:760px;
}
#BaiVietCBtn1
{
	left:730px;
}

.HotPicContent{
	width:260px;
	border: 3px solid black;
	position: absolute;	
}
.PictureInfo{
	position: absolute;
	width:260px;
	height:100px;
	background-color: black;
	color:white;
	font-weight: bold;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding-left: 8px;
}
#HotPicture1{
	top:10px;
	left:20px;
}
#HotPicture2{
	top: 10px;
	left:300px;
}
#HotPicture3{
	top: 10px;
	left:580px;
}
#HotPicture4{
	top: 300px;
	left:20px;
}
#HotPicture5{
	top: 300px;
	left:300px;
}
#HotPicture6{
	top: 300px;
	left:580px;
}
#PictureInfo1{
	top:157px;
	left:20px;
}
#PictureInfo2{
	top:157px;
	left:300px;
}
#PictureInfo3{
	top:157px;
	left:580px;
}
#PictureInfo4{
	top:448px;
	left:20px;
}
#PictureInfo5{
	top:448px;
	left:300px;
}
#PictureInfo6{
	top:448px;
	left:580px;
}
#link1 h5{
	text-decoration: none;
	color:white;
}
#TieuDe1:hover{
	text-decoration: underline;
	color: white;
}
#link2 h5{
	text-decoration: none;
	color:white;
}
#TieuDe2:hover{
	text-decoration: underline;
	color: white;
}
/*--------------------------------------Content-------------------------------------------*/

/*--------------------------------------FOOTER-------------------------------------------*/
#Footer{
	position: absolute;
	top:1380px;	
	width: 1140px;
	height: 200px;
	background-color: black;
}

#Contact{
	position: absolute;
	top: 60px;
	left: 30px;
	width: 300px;
	height:100px;
	border: 1px solid grey;
	padding: 10px 0 10px 10px;
	color: white;
	opacity: 80%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

#Contact:hover{
	opacity: 100%;
	border: 2px solid white;
	cursor: default;	
}

#Copyright{
	position: absolute;
	top:170px;
	left: 30px;
	color:white;
	font-weight: bold;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

#Copyright a{
	color: white;
	text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
}
#WidgetMenu{
	position: absolute;
	top: 10px;
	left: -28px;
}
#WidgetMenu ul li{
	display: inline-block;
	width:180px;
	height:30px;
	marginl-left: 10px;
	margin-top: 5px;
	text-align: center;
	font-size: 17px;
}

#WidgetMenu ul li:hover{
	background-color: red;;
}

#WidgetMenu ul li a{
	color: white;
	font-weight: normal;
	text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#SocialMedia1{
	position: absolute;
	top:60px;
	left:360px;
	width:350px;
	height: 140px;
}
#NAHK{
	color:white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
}
.SocialMediaProperties{
	color: white;
	text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.SocialMediaProperties:hover{
	color: white;
	text-decoration: none;
}
#Fanpage{
	color:white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
}
#SocialMedia2{
	position: absolute;
	top:60px;
	left:773px;
	width:320px;
	height: 140px;
}

/*--------------------------------------FOOTER-------------------------------------------*/

@media only screen and (max-width: 375px)
{
	#Header{
		height: 50px;
	}
	#WebsiteName{
		padding-top: 5px;
		font-size: 15px;
	}
	#Slogan{
		font-size: 10px;
	}
	body{
		position: fixed;
	}
	#Menu{
		top:45px;
		width:100%;
	}
	#Menu ul{
		height: 15px;
	}
	#Menu ul li {
		top:-8px;
		right: 20px;
		font-size: 5px;
		width:50px;
		height: 2px;
		line-height: 10px;
	}
	#ImageArea{
		top:75px;
		width: 300px;
	}
	#WaitingImage{
		width:70px;
		height:170px;
		top:75px;
		left:305px;
	}
	#SelectedPicture{
		display: none;
	}
	.WaitingPic{
		width:50px;
	}
	#Pic1{
		top: 8px;
		left: 10px;
	}
	#Pic2{
		top: 38px;
		left: 10px;
	}
	#Pic3{
		top: 68px;
		left: 10px;
	}
	#Pic4{
		top: 98px;
		left: 10px;
	}
	#Pic5{
		top: 128px;
		left: 10px;
	}
	#PrevBtn{
		width:15px;
		height: 15px;
		line-height: 8px;
		padding-left:-5px;
		top: 150px;
		left: 5px;
	}
	#NextBtn{
		width:15px;
		height: 15px;
		line-height: 8px;
		padding-left:-5px;
		top: 150px;
		left: 280px;
	}
	#Footer{
		width: 100%;
		height: 150px;
		top:520px;
	}
	#SideBar{
		top:240px;
		width:50px;
	}
	.sidebarbtn{
		font-size: 5px;
		line-height: 15px;
		width:70px;
		height:15px;
		border: 1px solid black;
	}
	#Advertise{
		width:70px;
	}
	#Ad_Pic{
		width: 70px;
		border:1px solid black;
	}	
	#Content{
		width:100%;
		left: 0px;
		position: absolute;
		top:0px;
	}
	#MainContent{
		left:80px;
		top:250px;
		height: 260px;
		width:295px;
		border-radius: 5px 0px 0px 5px;
	}
	.AnhBaiViet{
		width: 275px;
		height: 150px;
	}
	#AirNewContent{
		width: 275px;
		height: 240px;
	}
	#InfoBaiViet1{
		width:275px;
		height: 90px;
	}
	#TieuDe1{
		font-size: 9px;
	}
	#NoiDung1{
		font-size: 7px;
	}
	#TravelNewContent{
		width: 275px;
		height: 240px;
	}
	#InfoBaiViet2{
		width:275px;
		height: 90px;
	}
	#TieuDe2{
		font-size: 9px;
	}
	#NoiDung2{
		font-size: 7px;
	}
	#NewPictureContent{
		width:275px;
		height: 240px;
	}
	.HotPicContent{
		width:70px;
		border: 1.5px solid black;
	}
	.PictureInfo{
		width: 70px;
		height: 40px;
		font-size: 6px;
	}
	#HotPicture1{
	top:10px;
	left:20px;
	}
	#HotPicture2{
	top: 10px;
	left:105px;
	}
	#HotPicture3{	
	top: 10px;
	left:190px;
	}
	#HotPicture4{
	top: 110px;
	left:20px;
	}
	#HotPicture5{
	top: 110px;
	left:105px;
	}
	#HotPicture6{
	top: 110px;
	left:190px;
	}
	#PictureInfo1{
	top:50px;
	left:20px;
	}
	#PictureInfo2{
	top:50px;
	left:105px;
	}
	#PictureInfo3{
	top:50px;
	left:190px;
	}
	#PictureInfo4{
	top:150px;
	left:20px;
	}
	#PictureInfo5{
	top:150px;
	left:105px;
	}
	#PictureInfo6{
	top:150px;
	left:190px;
	}
	.BtnAnh{
		width:15px;
		height: 15px;
		font-size: 10px;
		line-height: 10px;
		border-radius: 5px;
	}
	#BaiVietCBtn4{
		top:220px;
		left:245px;
	}
	#BaiVietCBtn3{
		top:220px;
		left:228px;
	}
	#BaiVietCBtn2{
		top:220px;
		left:210px;
	}
	#BaiVietCBtn1{
		top:220px;
		left:192px;
	}
	.BaiVietBtn{
		width:15px;
		height:15px;
		font-size: 10px;
		line-height: 10px;
	}
	#BaiVietABtn4{
		top:130px;
		left:245px;
	}
	#BaiVietABtn3{
		top:130px;
		left:228px;
	}
	#BaiVietABtn2{
		top:130px;
		left:210px;
	}
	#BaiVietABtn1{
		top:130px;
		left:192px;
	}
	#BaiVietBBtn4{
		top:130px;
		left:245px;
	}
	#BaiVietBBtn3{
		top:130px;
		left:228px;
	}
	#BaiVietBBtn2{
		top:130px;
		left:210px;
	}
	#BaiVietBBtn1{
		top:130px;
		left:192px;
	}
	#WidgetMenu ul li{
		font-size: 5px;
		width: 55px;
		height: 10px;
	}
	#Contact{
		top:52px;
		left: 10px;
		padding-left: 2px;
		width:100px;
		height: 45px;
		font-size: 5px;
	}
	#SocialMedia1{
		width:160px;
		font-size: 5px;
		top:49px;
		left:120px;
	}
	#SocialMedia1 h5{
		font-size: 10px;
	}
	#SocialMedia2{
		width:100px;
		font-size: 5px;
		top:49px;
		left:290px;
	}
	#SocialMedia2 h5{
		font-size: 10px;
	}
	#Copyright{
		top:120px;
		left:10px;	
		font-size: 10px;
	}
}

