@charset "utf-8";
/* CSS Document */
#Header{
	background-color: black;
	width:100%;
	height: 100px;
}
#WebsiteName{
	color:white;
	padding-left: 20px;
	padding-top:20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
	font-size: 25px;
}
#Slogan{
	color:white;
	padding-left: 20px;
	font-style: italic;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

/*---------------------------------------MENU--------------------------------------------*/

#Menu{
	margin-top: 10px;
	padding: 0;
}
#Menu ul{
	list-style-type: none;
	background: black;
	text-align: left;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

#Menu ul li{
	width: 170px;
	height: 40px;
	display: inline-table;
	line-height:40px;
	position: relative;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#Menu ul li a{
	text-decoration: none;
	color: #FDFDFD;
	display: block;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#Menu ul li a:hover{
	background:  #FFFFFF;
	color: #000000;
}
#Menu ul li>.submenu{
	text-align: center;
	display: none;
	position:absolute;
	margin: 0;
	padding: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#Menu ul li:hover .submenu{
	display: block;
	z-index: 2;
}


/*---------------------------------------MENU--------------------------------------------*/

/*--------------------------------------SIDEBAR-------------------------------------------*/
#Sidebar{
	width:296px;
	height: 1410px;
	background-color: white;
	position: absolute;
	top:170;
	left:865px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}


#AircraftGallary{
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0 0 20px;
	width: 276px;
	height: 860px;
	background: #C8C8C8;
}
.Hot1{
	position:absolute;
	left: 10px;
	width:260px;
	border: 4px #000000;
	border-style:groove;
}

#Advertising{
	position: absolute;
	top: 880px;
	font-size: 20px;
	font-weight: bold;
	width: 276px;
	height: auto;
	max-height: 345px;
	background-color: #C8C8C8;
}
/*--------------------------------------SIDEBAR-------------------------------------------*/

/*--------------------------------------Content-------------------------------------------*/
#Content{
	width: 840px;
	height:1220px;
	margin-left: -15px;
}
#TieuDeChuyenMuc{
	background-color: black;
	color: white;
	width:845px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding-left: 10px;
	font-size: 18px;
	border-radius: 10px 10px 0px 0px;
}
#Banner_VNA{
	width:845px;
	height: 444.11px;
	border: 2px solid black;
	border-radius: 0px 0px 10px 10px;
}
#MainContent{
	position: absolute;
	top:485px;
	width:845px;
	height:670px;	
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
	padding-left: 15px;
	font-size: 20px;
}
#TieuDeNoiDungTrang{
	width: 815px;
	height: 670px;
}
#AnhVNAArea{
	position: absolute;
	top:0px;
	left:0px;
	width:845px;
	height: 690px;
	display: none;
}
.AHK{
	position: absolute;
	width:250px;
	height:143.21px;
	border: 3px solid black;
	border-radius: 10px 10px 0px 0px;
}
.PicInfo{
	position: absolute;
	width:250px;
	background-color: black;
	color: white;
	height:120px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding-left: 8px;
	font-size: 15px;
	border-radius: 0px 0px 10px 10px;
}
#AHK3{
	top:50px;
	left: 585px;
}
#AHK2{
	top:50px;
	left: 297.5px;
}
#AHK1{
	top:50px;
	left: 10px;
}
#PicInfo1{
	top:190px;
	left:10px;
}
#PicInfo2{
	top:190px;
	left:297.5px;
}
#PicInfo3{
	top:190px;
	left:585px;
}

#AHK4{
	top:340px;
	left:10px;
}
#AHK5{
	top:340px;
	left:297.5px;
}
#AHK6{
	top:340px;
	left:585px;
}
#PicInfo4{
	top:480px;
	left:10px;
}
#PicInfo5{
	top:480px;
	left:297.5px;
}
#PicInfo6{
	top:480px;
	left:585px;
}
.ContentButton{
	position: absolute;
	top: 650px;
	width:30px;
	height:30px;
	background-color: black;
	text-align: center;
	line-height: 25px;
	color:white;
	border: 2px solid black;
	border-radius: 5px;
}
#Button4{
	left: 790px;
}
#Button3{
	left: 755px;
}
#Button2{
	left: 720px;
}
#Button1{
	left: 685px;
}
.ContentButton:hover{
	background-color: white;
	color:black;
	cursor: pointer;
}
#ButtonThongTin1{
	width: 200px;
}
#ButtonThongTin2{
	width: 200px;
	display: none;
}
#table1{
	margin-top: 10px;
}
.TableProperties{
	width:150px;
	font-size: 15px;
	font-weight: bold;
}
.R1{
	background-color: black;
	color:white;
	text-align: center;
}
.R2{
	text-align: center;
}
#TBP1{
	width:230px;
}
#Button5T{
	left: 790px;
}
#Button4T{
	left: 755px;
}
#Button3T{
	left: 720px;
}
#Button2T{
	left: 685px;
}
#Button1T{
	left: 650px;
}
/*--------------------------------------CONTENT-------------------------------------------*/



/*--------------------------------------FOOTER-------------------------------------------*/
#Footer{
	position: absolute;
	top:1400px;	
	width: 1140px;
	height: 200px;
	background-color: black;
}

#Contact{
	position: absolute;
	top: 60px;
	left: 30px;
	width: 300px;
	height:100px;
	border: 1px solid grey;
	padding: 10px 0 10px 10px;
	color: white;
	opacity: 80%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

#Contact:hover{
	opacity: 100%;
	border: 2px solid white;
	cursor: default;	
}

#Copyright{
	position: absolute;
	top:170px;
	left: 30px;
	color:white;
	font-weight: bold;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

#Copyright a{
	color: white;
	text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
}
#WidgetMenu{
	position: absolute;
	top: 10px;
	left: -28px;
}
#WidgetMenu ul li{
	display: inline-block;
	width:180px;
	height:30px;
	marginl-left: 10px;
	margin-top: 5px;
	text-align: center;
	font-size: 17px;
}

#WidgetMenu ul li:hover{
	background-color: red;;
}

#WidgetMenu ul li a{
	color: white;
	font-weight: normal;
	text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#SocialMedia1{
	position: absolute;
	top:60px;
	left:360px;
	width:350px;
	height: 140px;
}
#NAHK{
	color:white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
}
.SocialMediaProperties{
	color: white;
	text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.SocialMediaProperties:hover{
	color: white;
	text-decoration: none;
}
#Fanpage{
	color:white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: bold;
}
#SocialMedia2{
	position: absolute;
	top:60px;
	left:773px;
	width:320px;
	height: 140px;
}
/*--------------------------------------FOOTER-------------------------------------------*/

